In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
import pandas as pd

In [2]:
data_limpio = sns.load_dataset('penguins')
data_limpio = data_limpio.dropna()

In [3]:
train, test = train_test_split(data_limpio, test_size = 0.7,
                              stratify = data_limpio['species'], random_state = 85)

In [4]:
train.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,Male
208,Chinstrap,Dream,45.2,16.6,191.0,3250.0,Female
304,Gentoo,Biscoe,44.9,13.8,212.0,4750.0,Female
238,Gentoo,Biscoe,46.2,14.5,209.0,4800.0,Female
93,Adelie,Dream,39.6,18.1,186.0,4450.0,Male

In [5]:
X_train = train[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']]
Y_train = train['species'] 
X_test = train[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']]
Y_test = train['species']

In [6]:
mlp = MLPClassifier(hidden_layer_sizes = (3, 3), solver = 'sgd',
                   learning_rate_init = 0.01, max_iter = 800)

In [7]:
mlp.activation

'relu'

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
codificador = LabelEncoder()

In [10]:
data_limpio['species'] = codificador.fit_transform(data_limpio['species'])
data_limpio

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,Torgersen,39.1,18.7,181.0,3750.0,Male
1,0,Torgersen,39.5,17.4,186.0,3800.0,Female
2,0,Torgersen,40.3,18.0,195.0,3250.0,Female
4,0,Torgersen,36.7,19.3,193.0,3450.0,Female
5,0,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
338,2,Biscoe,47.2,13.7,214.0,4925.0,Female
340,2,Biscoe,46.8,14.3,215.0,4850.0,Female
341,2,Biscoe,50.4,15.7,222.0,5750.0,Male
342,2,Biscoe,45.2,14.8,212.0,5200.0,Female
343,2,Biscoe,49.9,16.1,213.0,5400.0,Male

In [11]:
species = pd.DataFrame({'species': ['Adelie', 'Gentoo', 'Chinstrap']})
species

     species
0     Adelie
1     Gentoo
2  Chinstrap

In [12]:
species = pd.DataFrame({'sex': ['Male', 'Female']})
species

      sex
0    Male
1  Female

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
sc = StandardScaler()

In [15]:
noescalado = X_train
X_train_array = sc.fit_transform(X_train.values)
X_train = pd.DataFrame(X_train_array, index = X_train.index, 
                       columns = X_train.columns)
X_train

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
73         0.280979       0.832979          -0.270265    -0.108212
208        0.175612      -0.278799          -0.689424    -1.219641
304        0.122928      -1.632267           0.777631     0.632741
238        0.351224      -1.293900           0.568051     0.694487
93        -0.807815       0.446274          -1.038723     0.262265
..              ...            ...                ...          ...
329        0.684887      -1.003871           0.568051     1.558932
52        -1.615631       0.349597          -0.759284    -0.972657
126       -0.948305       0.204583          -0.689424    -1.188768
258       -0.035122      -1.728944           0.498192     0.138773
233        0.737571      -1.245562           0.847490     1.991155

[99 rows x 4 columns]

In [16]:
X_test_array = sc.fit_transform(X_test.values)
X_test = pd.DataFrame(X_test_array, index = X_test.index, columns = X_test.columns)
X_test

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
73         0.280979       0.832979          -0.270265    -0.108212
208        0.175612      -0.278799          -0.689424    -1.219641
304        0.122928      -1.632267           0.777631     0.632741
238        0.351224      -1.293900           0.568051     0.694487
93        -0.807815       0.446274          -1.038723     0.262265
..              ...            ...                ...          ...
329        0.684887      -1.003871           0.568051     1.558932
52        -1.615631       0.349597          -0.759284    -0.972657
126       -0.948305       0.204583          -0.689424    -1.188768
258       -0.035122      -1.728944           0.498192     0.138773
233        0.737571      -1.245562           0.847490     1.991155

[99 rows x 4 columns]

In [17]:
mlp.fit(X_train, Y_train)

MLPClassifier(hidden_layer_sizes=(3, 3), learning_rate_init=0.01, max_iter=800,
              solver='sgd')

In [18]:
from sklearn.metrics import accuracy_score

In [19]:
mlp.score(X_train, Y_train)

1.0

In [20]:
prediccion_train = mlp.predict(X_train)
prediccion_test = mlp.predict(X_test)

In [21]:
train_punteo = accuracy_score(prediccion_train, Y_train)
test_punteo = accuracy_score(prediccion_test, Y_test)

In [22]:
print(f'Puntaje de efectividad en el grupo de entrenamiento: {train_punteo}')
print(f'Puntaje de efectividad en el grupo de pruebas: {test_punteo}')

Puntaje de efectividad en el grupo de entrenamiento: 1.0
Puntaje de efectividad en el grupo de pruebas: 1.0

In [23]:
mlp.coefs_

[array([[-1.1305973 , -1.79799032,  0.53650447],
        [ 0.91719267,  1.17308278, -1.09147888],
        [-0.1225153 ,  0.00968741,  1.02963748],
        [-0.42705434,  0.28377436,  0.31084089]]),
 array([[ 9.58986749e-01,  4.99974188e-04, -5.66808424e-02],
        [ 2.06754608e+00, -1.31294286e-01, -6.94360456e-02],
        [-5.84906023e-01,  1.67012999e+00, -6.99041872e-01]]),
 array([[ 1.59748658,  0.20386407, -1.69803043],
        [-1.34369629, -1.45043629,  0.39332807],
        [ 0.76014733, -0.81235373,  0.20052756]])]

In [24]:
mlp.coefs_[1]

array([[ 9.58986749e-01,  4.99974188e-04, -5.66808424e-02],
       [ 2.06754608e+00, -1.31294286e-01, -6.94360456e-02],
       [-5.84906023e-01,  1.67012999e+00, -6.99041872e-01]])